

    /* Footer Container */
.footer {
  background-color: #111;
  color: #aaa;
  padding: 10px;
}

/* Footer Links Container */
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Social Links */
.Social__links {
  display: flex;
  justify-content: center;
}

.Social__links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Member Links */
.Footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Footer__links a {
  color: #aaa;
  text-decoration: none;
  margin: 0 10px;
}

/* Footer Icons */
.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Copyright */
.footer__copyright {
  text-align: center;
}

.footer__copyright p {
  margin: 0;
}
