.footer { 
    display: flex; 
    justify-content: space-between;
    list-style: none;
    padding: 20px;   
    /* background-color: #111;  */
     color: #fff; 
}
   
  .footer__links {
    margin-bottom: 10px;
  }
  .member Footer__links { 
    margin-bottom: 10px;
     display :flex;
     margin-bottom: 10px;
     list-style: none;
    padding: 0;
    margin: 0;
    width: 100vh;
    
    justify-content: space-between



  }
  .member Footer__links a {
    color: #fff;
    margin: 15px;
     text-decoration: none;  
     font-size: 14px;
  }
  .footer__links a {
    color: #fff;
    margin: 15px;
     text-decoration: none;  
     font-size: 14px; 
  }
  
  .footer__links a:hover {
    text-decoration: underline;
  }
  
  .footer__copyright {
    
    font-size: 12px;
    color: #777;
  }
  