/* App.css */
/* App.css */
.app {
  background-color: #111;
  color: #fff;
} 

/* * {
  background-color: hwb(60 4% 95%);
  text-align: center;
  text-decoration-color: rgb(124, 219, 14);

}  */

/* .row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;} */